.app {
  margin: 32px;
}

.app > footer {
  margin-top: 32px;
}

.app > footer > label {
  display: block;
}

.app > footer > label > * {
  display: block;
  width: 100%;
} 

.memo {
  box-shadow: 0px 0px 3px #ccc;
  padding: 16px;
  margin-top: 12px;
}

.memo > div {
  margin-top: 12px;
}


/* context */
.context {
  padding: 36px;
}

.context > div > input {
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  min-width: 330px;
}